.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Lato';
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.left {
  display: none;
}

@media (min-width: 850px) {
  .container {
    display: flex;
    justify-content: space-between;
    padding-top: 90px;
    gap: 30px;
  }
  .right {
    flex-basis: 60%;
  }

  .left {
    display: flex;
    background-color: rgba(17, 106, 204, 1);
    flex-basis: 30%;
    height: 500px;
  }
}

/* @media (max-width: 800px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 600px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 400px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
} */
