.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 96px;
  padding-left: 30px;
  padding-bottom: 50px;
}

.head {
  color: rgba(75, 85, 99, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: 'Lato';
}

.subheading {
  color: rgba(75, 85, 99, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  margin-top: 16px;
  max-width: 718px;
}

.subcon {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.leftcon {
  flex-basis: 55%;
}

.rightcon {
  flex-basis: 45%;
  overflow: hidden;
  position: relative;
}

.graph {
  position: absolute;
  top: 5px;
  right: 20px;
}

.acurr {
  position: absolute;
  bottom: 40px;
  left: 50px;
}
.payslip {
  position: absolute;
  bottom: -50px;
  right: 0;
}

.prof {
  position: absolute;
  bottom: -10px;
  left: -20px;
}

@media (max-width: 900px) {
  .subcon {
  }

  .rightcon {
    flex-basis: 40%;
  }
}
@media (max-width: 850px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .subcon {
    display: block;
  }
  .rightcon {
    display: none;
  }
}
