.dropbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: rgba(75, 85, 99, 1);
}
.dropboxopen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  color: rgba(81, 156, 241, 1);
}

.open {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: red;
}

.open ul {
  list-style-type: none;
}

.res {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  font-family: 'Lato';
  font-weight: 400;
}

@media (max-width: 1000px) {
}
