.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(249, 249, 249, 1);
  font-family: 'Lato';
}

.navigation {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menubar {
  display: none;
}

.button {
  background-color: rgba(17, 106, 204, 1);
  color: rgba(243, 244, 246, 1);
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 12px;
  font-family: 'Lato';
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.navLink {
  color: rgba(75, 85, 99, 1);
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  font-family: 'Lato';
}
.navactive {
  color: rgba(81, 156, 241, 1);
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  font-family: 'Lato';
}

.navLinks {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.leftnavLinks {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1000px) {
  .navLinks,
  .leftnavLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 850px) {
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navigation {
    padding-left: 20px;
    padding-right: 20px;
  }
  .leftnavLinks li,
  .navLinks li {
    display: none;
  }
  .menubar {
    display: block;
  }
}
