.container {
  padding-left: 20px;
  position: relative;
  padding-bottom: 50px;
}

.heading {
  color: rgba(75, 85, 99, 1);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  max-width: 549px;
}

.subheading1 {
  color: rgba(75, 85, 99, 1);
  font-size: 18px;
  max-width: 522px;
  font-weight: 500;
  line-height: 21.6px;
  margin-top: 24px;
  max-width: 394px;
}

.subheading2 {
  color: rgba(75, 85, 99, 1);
  font-size: 18px;
  max-width: 340px;
  font-weight: 500;
  line-height: 21.6px;
  margin-top: 16px;
  max-width: 261px;
}

.btn {
  background-color: rgba(17, 106, 204, 1);
  color: rgba(243, 244, 246, 1);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-radius: 5px;
  font-family: 'Lato';
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 59px;
}

.imgcon {
  position: absolute;
  bottom: 5px;
  right: 150px;
}

/* .image {
  position: absolute;
  top: 0;
  right: 0;
} */
@media (max-width: 850px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .image {
    display: none;
  }
}
