.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 70px;
}

.subcon {
  max-width: 1000px;
}

.textdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.head {
  max-width: 519px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  font-family: 'Lato';
  color: rgba(75, 85, 99, 1);
  text-align: center;
}

.para {
  max-width: 662px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  font-family: 'Lato';
  color: rgba(75, 85, 99, 1);
  text-align: center;
}

.bitcoin {
  display: none;
}

.dollar {
  display: none;
}

.cardcon {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
  overflow: scroll;
}

@media (max-width: 850px) {
  .subcon {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 850px) {
  .subcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .bitcoin {
    display: block;
    margin-top: 150px;
  }

  .dollar {
    display: block;
  }
}
