.container {
  background-color: rgba(17, 106, 204, 1);
  position: relative;
}

.image {
  position: absolute;
  top: 25px;
  right: -350px;
}

@media (max-width: 1150px) {
  .image {
    width: 350px;
    height: 350px;
    top: 70px;
  }
}
@media (max-width: 900px) {
  .image {
    right: -270px;
  }
}
