.container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.imagecon {
  background-color: white;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .textcon {
  max-width: 550px;
  overflow: hidden;
} */

.textcon h4 {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 500px;
  line-height: 24px;
  color: rgba(75, 85, 99, 1);
  max-width: 316px;
}

.textcon p {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400px;
  line-height: 34px;
  color: rgba(75, 85, 99, 1);
  margin-top: 16px;
  max-width: 469px;
}
