.container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.imagecon {
  background-color: white;
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textcon {
  max-width: 550px;
  overflow: hidden;
}

.textcon h4 {
  font-family: 'Lato';
  font-size: 24px;
  font-weight: 500px;
  line-height: 22px;
  color: rgba(75, 85, 99, 1);
}

.textcon p {
  font-family: 'Lato';
  font-size: 18px;
  font-weight: 400px;
  line-height: 20px;
  color: rgba(75, 85, 99, 1);
  margin-top: 10px;
}
